[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "CONSTANd"]
	path = CONSTANd
	url = https://github.com/pdiracdelta/constand
	shallow = true
	registered = true
